/*general*/
@import url('https://fonts.googleapis.com/css2? family= Andika & family= Comic+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Andika & family= Comic+Neue &familia= IBM+Plex+Sans+Thai+Looped & display=swap');
*{
    box-sizing: border-box;
}
html, body{
   width: 100%;
   margin: 0;
   padding: 0;
   background: #F3F5FC;

}
/*main*/
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;;
    font-size: 1vw;
    color: rgb(6, 6, 126);
    align-items: center;
    align-content: center;
    background: #f3fcf5;
    ;
}
.logo{
    width: 5vw;
    height: auto;
    margin-left: 2vw;
    position: absolute;
    object-fit: none;
    object-position: 2vw 15%;
    width: 100%;

}
/*area dibujo canvas*/
.ahorcado{
    width: 50vw;
    height: 35vw;
    max-width: 700px;
    min-height: 300px;
    margin:0;
    padding: 0;
   /* background-color: rgb(7, 99, 102);*/
    border-radius: 3vw;

}
/* Tablero abecedario*/
section.tablero{
    margin: 1.3vw;

}
button.tablero{
    font-size: 1.5vw;
    border-radius: 5px;
    padding: 0.8vw;
    margin: 0,3vw;
    border: none;
    background-color: rgb(75,40,150);
    color: #fff;
   

}
button.tablero:hover{
    cursor: pointer;
    background-color: rgb(14, 152, 162);

}
button.tablero:active{
    color: red;
}
/*input new word*/
div.input{
    display: flex;
    flex-direction: row;
    height: 15%;
    align-items: center;
    align-content: center;
}
.newWord,
.arriesgar,
.letra{

    margin:0.5vw;
    padding: 1vw 2vw;
    border-radius: 10px;
    border: 1px solid rgb(10, 10, 119);
    
}
/*botones*/
div.buttons{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5vw;
    margin: 0.5vw 4vw;


}
.btn-newGame,
.btn-desist,
.btn-addWord{
  padding: 0.5vw 2vw;
  margin: 0.5vw;
  color:rgb(10, 10, 119);
  border: none;
  border-radius: 10px;

}
.btn-newGame,
.btn-addWord{
    background-color: rgb(10, 10, 119);
    color: #fff;

}
.btn-desist{
    border: 1px solid rgb(10, 10, 119);
    color: rgb(10, 10, 119);
    padding: 0.5vw 4vw;

}
.btn:hover{
    cursor: pointer;
    background-color: rgb(14, 152, 162);
    
}