/*general*/
 font-face{
    @import url('https://fonts.googleapis.com/css2? family= Andika & family= Comic+Neue & family= IBM+Plex+Sans+Thai+Looped & family= Montserrat:wght@300; 400 & mostrar=cambiar');
 }
*{
    box-sizing: border-box;
}
html, body{
   width: 100%;
   margin: 0;
   padding: 0;
   background: #F3F5FC;

}
/*main*/
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;;
    font-size: 1vw;
    /*color: rgb(6, 6, 126);*/
    align-items: center;
    align-content: center;
    background-color: #f3fcf5;

}
.logo{
    width: 5vw;
    height: auto;
    margin-left: 2vw;
    position: absolute;
    object-fit: none;
    object-position: 2vw 15%;
    width: 100%;

}
/*area dibujo canvas*/
.ahorcado{
    width: 50vw;
    height: 35vw;
    max-width: 968px;
    max-height: 600px;
    margin:0;
    padding: 0;
    background-color: rgb(214, 241, 242);
    border-radius: 3vw;

}

/*input new word*/
div.input{
    display: flex;
    flex-direction: row;
    height: 15%;
    align-items: center;
    align-content: center;
}
.newWord,
.arriesgar,
.letra{

    margin:0.5vw;
    padding: 3vw ;
    border-radius: 10px;
    border: 1px solid rgb(10, 10, 119);
    
}
/*botones*/
div.buttons{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.5vw;
    margin: 0.5vw 4vw;
}
 .btn{

    display: flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 1.5vw;
    margin: 0.5vw 4vw;


}
.btn-newGame,
.btn-desist,
.btn-addWord{
  padding: 2vw 5vw;
  margin: 2vw;
  color:rgb(10, 10, 119);
  border: none;
  border-radius: 10px;

}
.btn-newGame,
.btn-addWord{
    background-color: rgb(10, 10, 119);
    color: #fff;

}
.btn-desist{
    border: 1px solid rgb(10, 10, 119);
    color: rgb(10, 10, 119);
    padding: 2vw 5vw;

}
.btn:hover{
    cursor: pointer;
    background-color: rgb(14, 152, 162);
}

/* Guiones palabra oculta*/
#palabra{
    font-size: 5vw;
}

